#macro (putJSFColumnSnippet)
<label>#{i18n.$tableVariableName$separator$columnVar}</label>
<h:inputText label="${columnClass}" id="lbl${columnClass}" value="#{${entityControllerJSFVariable}.${tableVariableName}.${columnVar}}" required="true" />
<h:message for="lbl${columnClass}" class="errorMsg"/>
#end

#macro(exposeSeparator)
#exposeJSFTemplate()
#set($separator=$i18nUtils.getSeparator($template, $templateModelI18nJSF))
#end

#macro (exposeJSFEntitySpecific)
#exposeVariableEntitySpecific()
#exposeJSFTemplate()
#set ($entityCreateJSFClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateEntityCreateJSF))
#set ($entityCreateJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityCreateJSF))
#set ($entityCreateJSFImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateEntityCreateJSF))	
#set ($entityCreateJSFLocation = $commonUtils.getArtifactRelativePathDirAndFullName($tableDB, $template, $templateEntityCreateJSF))
#set ($entityListJSFClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateEntityListJSF))
#set ($entityListJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityListJSFClass))
#set ($entityListJSFImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateEntityListJSF))	
#set ($entityListJSFLocation = $commonUtils.getArtifactRelativePathDirAndFullName($tableDB, $template, $templateEntityListJSF))
#set ($entityControllerJSFClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateEntityControllerJSF))
#set ($entityControllerJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityControllerJSFClass))
#set ($entityControllerJSFImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateEntityControllerJSF))	
#end

#macro (exposeJSFModelSpecific)
#exposeVariableModelSpecific()
#exposeJSFTemplate()
#set ($modelI18nJSFClass = $commonUtils.getTemplateClassName($model, $template, $templateModelI18nJSF))
#set ($modelI18nJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($modelI18nJSFClass))
#set ($modelI18nJSFImport = $commonUtils.getModelLevelTemplateFullPath($model, $template, $templateModelI18nJSF))
#set ($modelBeanManagerMenuJSFClass = $commonUtils.getTemplateClassName($model, $template, $templateModelBeanManagerMenuJSF))
#set ($modelBeanManagerMenuJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($modelBeanManagerMenuJSFClass))
#set ($modelBeanManagerMenuJSFImport = $commonUtils.getModelLevelTemplateFullPath($model, $template, $templateModelBeanManagerMenuJSF))
#set ($modelDecoratorJSFImport = $commonUtils.getArtifactRelativePathDirAndFullName($model, $template, $templateModelXhtmlDecoratorJSF))
#set ($modelMenuJSFImport = $commonUtils.getArtifactRelativePathDirAndFullName($model, $template, $templateModelXhtmlMenuJSF))
#end

#macro (exposeJSFTemplate)
#set ($templateEntityCreateJSF = "JSFXhtmlCreateEntity")
#set ($templateEntityListJSF = "JSFXhtmlListEntity")
#set ($templateEntityControllerJSF = "JSFBeanManagerController")
#set ($templateModelI18nJSF = "JSFI18nProperties")
#set ($templateModelXhtmlDecoratorJSF = "JSFXhtmlDecorator")
#set ($templateModelXhtmlMenuJSF = "JSFXhtmlMenu")
#set ($templateModelBeanManagerMenuJSF = "JSFBeanManagerMenu")
#end


