#exposeJSFEntitySpecific()
#exposeJSFModelSpecific()
#exposeSeparator()
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui">
<ui:composition template="$modelDecoratorJSFImport">
	<ui:define name="title">
		<h:outputText value="#{i18n.listTitle}" />
	</ui:define>
	<ui:define name="heading">
		<h:outputText value="#{i18n.listHeading}" />
	</ui:define>
<ui:define name="body">
		
 <h:form>  
  
    <p:dataTable var="${domainVariableName}" value="#{${entityControllerJSFVariable}.findAll()}" paginator="true" rows="10"  
                selection="#{${entityControllerJSFVariable}.selected${tableClassName}}" selectionMode="single"  
                onRowSelectUpdate="display" onRowSelectComplete="${domainVariableName}Dialog.show()"
                >  
  
        <f:facet name="header">  
            List of #{i18n.${tableVariableName}s}  
        </f:facet>  
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
        <p:column sortBy="#{${domainVariableName}.${columnVar}}" filterBy="#{${domainVariableName}.${columnVar}}">  
            <f:facet name="header">  
                <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
            </f:facet>  
            <h:outputText value="#{${domainVariableName}.${columnVar}}" />  
        </p:column> 
#end
#end		
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming()	
        <p:column sortBy="#{${domainVariableName}.${columnVar}}" filterBy="#{${domainVariableName}.${columnVar}}">  
            <f:facet name="header">  
                <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
            </f:facet>  
            <h:outputText value="#{${domainVariableName}.${columnVar}}" />  
        </p:column>  
#end
    </p:dataTable>  
  
    <p:dialog header="$domainVariableName Detail" widgetVar="${domainVariableName}Dialog" resizable="false"  
              width="200" showEffect="explode" hideEffect="explode">  
  
        <h:panelGrid id="display" columns="2" cellpadding="4">  
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}:" />  
            <h:outputText value="#{${entityControllerJSFVariable}.selected${domainClassName}.$columnVar}" />  
#end
#end  
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming()	
            <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}:" />  
            <h:outputText value="#{${entityControllerJSFVariable}.selected${domainClassName}.$columnVar}" />  
#end

        </h:panelGrid>  
    </p:dialog>  
	<h:commandButton title="New #{i18n.$tableVariableName}" value="New #{i18n.$tableVariableName}" action="#{${entityControllerJSFVariable}.displayInput}" />
  
</h:form> 

</ui:define>
</ui:composition>
</html>